.message-list-container {
    margin: 2rem 1.5rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.message-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 1rem;
}

.no-messages {
    text-align: center;
    font-size: 1.125rem;
    color: var(--text-secondary);
    margin-top: calc(40vh - 18rem);
    line-height: 1.6;
}

chat-messages > ::deep div:last-of-type {
    margin-bottom: 2rem;
}
